body{
	background-color: lightyellow;
}
.wrapper{
	width: 90%;
    margin: 0 auto;
    text-align: center;
	border:5px solid #ddd;
	background-color: lightblue;
}
h1{
	font-size: 35px;
}
label{
	font-size: 27px;
}
.first_name, .last_name, .email, .password{
	width: 90%;
	height: 25px;
	padding: 20px;
	margin: 8px;
	font-size: 18px;
}
button{
	margin: 10px;
	padding: 2px;
	background-color: #212221;
	color: white;
	transition: 0.5s;
}
button:hover{
	background-color: #2E3238;
	font-size:  15px;
}